@media(min-width: 767px) {
    #logo {
        bottom: 200px;
        right: 30px;
    }

    h3,
    legend {
        font-size: 4.5rem;
    }

    .offers {
        margin: auto 100px;
    }
    
    .testimonial{
        margin: 30px 100px;
    }

    #testimonials .look {
        font-size: 2rem;
    }

    #starter,
    #intermediate,
    #advanced {
        padding: 100px;
    }

    #pricing p,
    legend {
        font-size: 5rem;
    }

    #pricing li,
    label {
        font-size: 3rem;
    }
}

@media(min-width: 1279px) {

    #logo {
        max-height: 55%;
        max-width: 45%;
        bottom: 125px;
    }

    #banner .arrow{
        height: 100%;
        width: 100%;
    }

    h1{
        font-size: 5rem;
    }

    .tagline {
        font-size: 2rem;
    }
    
    #banner .arrow {
        max-height: 10%;
        max-width: 10%;
        transition: ease-in-out .5s;
    }

    #banner .arrow:hover{
        transform: rotate(450deg) scale(1.2);
    }

    h3,
    legend {
        font-size: 5rem;
    }

    .questions {
        margin-top: 100px;
    }

    .offers .title {
        font-size: 1.7rem;
    }

    #offer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .offers {
        margin: auto 25px;
        font-size: 1.4rem;
        width: 29%;
    }

    #testimonials {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .look {
        text-align: center;
        font-size: 2.4rem;
    }
    
    .testimonial{
        margin: 30px 29px;
        width: 29%;
    }

    #testimonials .look {
        font-size: 2.3rem;
    }

    .testimonial .name {
        font-size: 2.7rem;
    }

    .testimonial blockquote {
        font-size: 1.7rem;
    }

    #pricing{
        padding-top: 100px;
        height: auto;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    #pricing h3 {
        font-size: 6rem;
        flex-basis: 100%;
    }

    #starter,
    #intermediate,
    #advanced {
        display: inline-block;
        width: 29%;
        padding: 15px;
        margin: 5px;
    }

    #pricing p,
    legend {
        font-size: 3rem;
        margin-bottom: 75px;
    }

    #pricing li,
    label {
        margin-bottom: 50px;
        font-size: 2rem;
    }

    #contact {
        height: auto;
        padding-top: 100px;
    }

    #contact-form {
        padding-top: 0;
    }

    #contact-form {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    fieldset label {
        font-size: 3rem;
        margin: 30px 2%;
    }

    .input {
        padding: 0;
        margin: 0;
    }
    
    #contact-form #packages {
        font-size: 2rem;
        width: 100%;
        margin-top: 0;
        margin-bottom: 40px;
    }

    #contact-form textarea {
        height: 100px;
        width: 100%;
        margin-top: 0;
    }

    #contact-form button {
        height: 20%;
        font-size: 2rem;
        flex-basis: 25%;
        margin: 5% 30%;
    }

}

@media(min-width: 1919px) {
    #logo {
        bottom: 150px;
    }
}